@page
@model Week7Assignment.Pages.Entries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="EntryDate" asp-items="Model.Dates">
            <option value="">All</option>
        </select>
        <select asp-for="EntryBook" asp-items="Model.Books">
            <option value="">All</option>
        </select>
        Keyword: <input type="text" asp-for="SearchNoteString" />
        <input type="submit" value="Filter" />
        Book:<input type="text" asp-for="SearchBookString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].Chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].Verse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
